#container {
    margin: 25px auto;
    width: 830px;
}

div.month {
    width: 375px;
    height: 300px;
    float: left;
    margin: 5px;
    padding: 15px;
    background: #eee;
}

.hidden {
    display: none;
}

div.month ol {
    margin: 0px;
    padding: 0px;
}

div.month li {
/*    display: inline-block;*/
    display: block;
    float: left;
    height: 75px;
    overflow: hidden;
}

div.month li img {
    width: 75px;
    height: 75px;
    border: 0px;
    margin: 0px;
}
